.column {
    margin-top: 2rem;
    height: 80vh;
    &--1-of-4{
        width:20%;
        background-color: gold;
    }

    &--2-of-4 {
        width:40%;
        background-color: purple;
    }
}