nav {
  height: 8vh;
  width: 100%;
}

.navbar {
  color: $color-white;
  @include reset-list-style;

  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    height: 8rem;
    width: 8rem;
  }

  & li {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  &__social {
    @include reset-list-style;
    display: inherit;
    margin-left: auto;
  }
}
