.row {
    width: 100%;
    height: 14rem;
    display:flex;
    border-bottom: 2px solid black;

    & .logo {

        & img {
            height: 14rem;
            width: 14rem;
        }
    }

    & .player {
        text-align: center;
        width:12rem;
        height: 14rem;
        border-left: 2px solid black;

        & img {
            height: 7rem;
            width: 10rem;
            padding-top: .8rem;
        }   
    }

    &--body{
        border-bottom: none;
        justify-content:space-around;

    }
}