button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: white;
  color: black;
  cursor: pointer;
  text-align: center;
}

.selected {
  background: purple;
  color: white;
}
