body {
  background-color: $color-black;
  overflow: hidden;
}

.landing__player-name {
  position: absolute;

  @include bottomLeftAbsolute(60rem, 10rem, 1000);
  font-size: 1.7rem;
  color: $color-white;
  text-transform: uppercase;

  opacity: 0;
  transition: all 0.2s;
}

.landing__back-arrow {
  position: absolute;
  color: $color-white;
  top: 10%;
  left: 0;

  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}

.landing__composition {
  height: 92vh;
  position: relative;

  &--player {
    display: block;
    position: absolute;
    height: 55rem;
    width: auto;

    opacity: 1;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    &--kuzma {
      z-index: 1000;
      @include bottomLeftAbsolute(0, 40rem, 1000);
    }

    &--rondo {
      height: 50rem;
      @include bottomLeftAbsolute(0, 25rem, 900);
    }

    &--lebron {
      @include bottomLeftAbsolute(0, 70rem, 1000);
    }

    &--davis {
      @include bottomRightAbsolute(0, 58rem, 900);
    }

    &--caruso {
      height: 53rem;
      @include bottomRightAbsolute(0, 30rem, 800);
    }

    &--mcgee {
      height: 57rem;
      @include bottomRightAbsolute(0, 0, 900);
    }

    &--waiters {
      height: 50rem;
      @include bottomRightAbsolute(25rem, 0rem, 700);
    }

    &--bradley {
      @include bottomLeftAbsolute(0, -10rem, 1000);
    }

    &--green {
      height: 50rem;
      @include bottomRightAbsolute(22rem, 68rem, 700);
    }
    &--howard {
      height: 52rem;
      @include bottomRightAbsolute(26rem, 31rem, 600);
    }
    &--dudley {
      height: 50rem;
      @include bottomLeftAbsolute(20rem, 35rem, 800);
    }
    &--pope {
      height: 50rem;
      @include bottomLeftAbsolute(20rem, 60rem, 800);
    }
    &--smith {
      height: 50rem;
      @include bottomLeftAbsolute(23rem, 0, 800);
    }
  }
}
