body {
  background-color: $color-black;
  overflow: hidden;
}

.landing__player-detail {
  display: flex;
  flex: row;
  align-items: center;
  position: absolute;
  @include bottomLeftAbsolute(60rem, 10rem, 1000);
}

.landing__player-name {
  font-size: 2.2rem;
  padding: 1rem;
  color: $color-white;
  text-transform: uppercase;

  opacity: 0;
  transition: all 0.2s;
}

.landing__back-arrow {
  color: $color-black;
  font-size: 2rem;
  background-color: $color-white;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  height: 3rem;
  z-index: 9999;

  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: rgb(112, 117, 122);
  }
}

.landing__composition {
  height: 92vh;
  position: relative;

  &--player {
    display: block;
    position: absolute;
    height: 55rem;
    width: auto;

    opacity: 1;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    &--kuzma {
      z-index: 1000;
      @include bottomLeftAbsolute(0, 21%, 1000);
    }

    &--rondo {
      height: 50rem;
      @include bottomLeftAbsolute(0, 12%, 900);
    }

    &--lebron {
      @include bottomLeftAbsolute(0, 37%, 1000);
    }

    &--davis {
      @include bottomLeftAbsolute(0, 50%, 900);
    }

    &--caruso {
      height: 53rem;
      @include bottomLeftAbsolute(0, 67%, 800);
    }

    &--mcgee {
      height: 57rem;
      @include bottomLeftAbsolute(0, 78%, 900);
    }

    &--waiters {
      height: 52rem;
      @include bottomLeftAbsolute(20rem, 79%, 700);
    }

    &--bradley {
      @include bottomLeftAbsolute(0, -7%, 1000);
    }

    &--green {
      height: 50rem;
      @include bottomLeftAbsolute(20rem, 50%, 700);
    }
    &--howard {
      height: 54rem;
      @include bottomLeftAbsolute(20rem, 62%, 600);
    }
    &--dudley {
      height: 50rem;
      @include bottomLeftAbsolute(20rem, 17%, 800);
    }
    &--pope {
      height: 50rem;
      @include bottomLeftAbsolute(20rem, 29%, 800);
    }
    &--smith {
      height: 52rem;
      @include bottomLeftAbsolute(20rem, -3%, 800);
    }
  }
}
